
.page-wrap .pirate:before { content: ""; display: table; } 
.page-wrap .pirate { 
  display: flex; 
  /* flex-flow: row wrap; */ /*flex-flow is shorthand for flex-direction & flex-wrap */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.page-wrap .pirate:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

.photo-column, .info-column {flex: none; }

.photo-column {
  // width: 35%; 
  margin-left: .75rem;
  margin-right: .75rem; 
  width: 30%;
  width: calc( 35% - 1.5rem ); 
}


.info-column {
  // width: 65%;   
  margin-left: 1rem;
  margin-right: 1rem; 
  padding: 1.25rem;
  width: 60%; 
  width: calc( 65% - 2rem - 2.5rem ); 
}

@media(max-width: 760px ){
  html { line-height: 2rem; }
  .page-wrap .pirate { display: initial; }
  .photo-column, .info-column { 
    width: auto; 
    flex: initial;
    padding: 0; margin: 0; }
}  