
.page-wrap .pirate:before { content: ""; display: table; } 
// .page-wrap .pirate {position: relative; } 
.page-wrap .pirate:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

.photo-column, .info-column {float: left;}

.photo-column {
  // width: 35%; 
  margin-left: .75rem;
  margin-right: .75rem; 
  width: 30%;
  width: calc( 35% - 1.5rem ); 
}


.info-column {
  // width: 65%; 
  margin-left: 1rem;
  margin-right: 1rem; 
  padding: 1.25rem;
  width: 60%; 
  width: calc( 65% - 2rem - 2.5rem ); 
}

@media(max-width: 760px ){
  html { line-height: 2rem; }
  .photo-column, .info-column { width: auto; float: none; padding: 0; margin: 0; }
}  