html { font-size: 1em; line-height: 1.5rem; }

body{ background-color: #DDDDDD;}
body{ font-family: Helvetica, Arial, sans-serif;  }

body, div { padding: 30px 0; }

// img {}

.page-wrap{ max-width: 1024px; padding: 0 16px; margin: 0 auto; }
h1{ padding: 2rem; font-size: 2.4em; font-weight: normal; }

// #pirates-container { background-color: #4A4A4A; } 

.page-wrap .pirate { background-color: #EFEFEF; }

.photo-column{ background-color: #EFEFEF; }
.photo-column{ padding-top: 5rem; }

// .pirate-photo { max-width: 260px; } 
.pirate-photo { 
  max-width: 95%; 
  box-shadow: 10px 5px 12px #4A4A4A;
  max-width: calc(100% - 5px - 2.5px - 12px); 
}

// .info-column{ background-color: brown; } 
.info-column{ box-sizing: border-box; }

.info-column h2 {font-weight: normal; margin: 0; font-size: 2.5rem; padding: 1.65rem 0 .75rem 0; }
.info-column h2 { background-size: 30%; line-height: 4.75; 
  // background-size: 10%; 
  background-repeat: no-repeat; background-position: 95% 60%; 
}
.info-column h2.Luffy { background-image: url(../images/avatars/luffy.jpg); }
.info-column h2.Zoro { background-image: url(../images/avatars/zoro.jpg); }
.info-column h2.Nami { background-image: url(../images/avatars/nami.jpg); }
.info-column h2.Usopp { background-image: url(../images/avatars/usopp.jpg); }
.info-column h2.Sanji { background-image: url(../images/avatars/sanji.jpg); }
.info-column h2.Chopper { background-image: url(../images/avatars/chopper.jpg); }
.info-column h2.Robin { background-image: url(../images/avatars/robin.jpg); }
.info-column h2.Franky { background-image: url(../images/avatars/franky.jpg); }
.info-column h2.Brooke { background-image: url(../images/avatars/brooke.jpg); } 

.occupation{ font-size: 1.45rem; color: #999999; }
.info-column p { font-size: 1.2rem; line-height: 1.6rem; padding: 1rem;}
.headline-bar{ margin: 0; background-color: #CCCCCC; padding: 8px 15px;  }
.likes-list { background-color: #EFEFEF; }
li { list-style: none; border-bottom: 1px dotted #999999; font-size: .85rem; padding: .5rem 1rem; } 
