* {outline: none; padding:0; margin: 0; background-color: #FFFFFF; color: #4A4A4A; }

html { font-size: 1em; line-height: 1.5rem; }

body{ margin: auto; padding: 0; max-width: inherit; }

img {max-width: 100% ; height: auto; }