{{#each pirates}}
  <div class="pirate">
    <div class="photo-column">
      {{!-- <img class="pirate-photo" src="{{photo}}" /> --}}
      {{{safeImage}}}
    </div>
    <div class="info-column">
      <h2 class="{{name}}">{{name}} <span class="occupation">({{occupation}})</span></h2>
      
      <p>Age: {{calculateAge birthYear}}</p>

      {{#if likes}}
      <h4 class="headline-bar">Favorite Things:</h4>
      <ul class="likes-list">
        {{#each likes}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
  </div>
{{/each}}